@import '../variables.scss';

.mainContainer{
  background-color: $section4-background-color;
  padding: $paddingSection4;
  .layoutContent{
    p{
      text-align: center;
      @include FS-flex(1rem, 4, 0.8rem, 2rem);
    }
    .itemContent{
      padding-block: 1rem;
      p{
        text-align: start;
        @include FS-flex(1rem, 4, 0.5rem, 1.2rem);
        a{
          @include FS-flex(1rem, 4, 0.5rem, 1.2rem);
        }
        a:hover{
          color: $section4-text-color-hover;
          transition: 0.3s linear;
        }
      }
    }
  }
}