@import '../variables.scss';

.section3Container{
  background-color: $section3-background-color;
  .section3Layout{
    @media screen and (max-width:40em) {
      padding: $paddingSectionsSmallScreen;
    }
    padding: $paddingSections;
    h1{
      @include FS-flex(1rem, 4, 1rem, 2.5rem);
      padding-block: 2rem;
      text-align: center;
      color: $section3-text-color;
    }
    .section3Desc{
      .email{
        display: flex;
        align-items: center;
        padding-bottom: 5rem;
        a{
          padding-left: 0.5rem;
          @include FS-flex(1rem, 2, 0.3rem, 2rem);
          color: $section3-text-color;
        }
        a:hover{
          color: $section3-text-color-hover;
          transition: 0.2s linear;
        }
        img{
          margin-top: 0.2%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}