@import '../variables.scss';

.headerLayout{
  padding: $paddingHeader;
  background-color: $header-background-color;
  max-height: 15rem;
  min-width: 100vw;
  .headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    .headerTitle{
      align-self: center;
      font-size: 1.2rem;
      a{
        color: whitesmoke;
      }
    }
    .headerMenu{
      @media screen and (max-width:50em) {
        min-width: 0;
      }
      min-width: 30vw;
      .dropDownBtn{
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
      .dropDownMenu{
        position: absolute;
        right: 0rem;
        display: flex;
        flex-direction: column;
        background-color: $drop-down-menu-background-color;
        a{
          padding: 0.5rem;
          color: $drop-down-menu-text-color;
        }
        a:hover{
          background-color: $drop-down-menu-text-color-hover;
          transition: 0.2s linear;
        }
        hr{
          border: 1px solid $drop-down-menu-text-color;
        }
      }
    }
  }
}